##
##     ________  ________  _____    _____   __
##    /  _/ __ \/ ____/ / / /   |  /  _/ | / /
##    / // / / / /   / /_/ / /| |  / //  |/ /
##  _/ // /_/ / /___/ __  / ___ |_/ // /|  /
## /___/_____/\____/_/ /_/_/  |_/___/_/ |_/
##
## ----> Test Pool Ledger
##
## Please copy this file into a new file with name .env,
## and adjust the following variables to match your environment
## ↓↓↓↓


## ------------------------------------------------------------------------------------
## Pool IP
## Will be used to generate pool transaction genesis file
## If there is a need to make it reachable from the outside,
## please make sure it matches the PUBLIC IP of the machine
##
## If running in the Cloud, please run the script display-cloud-info.sh
## ↓↓↓↓-------------------------------------------------------------------------------

IDC_POOL_IP=192.168.1.226


## ------------------------------------------------------------------------------------
## Pool Subnet - !!Only Required variable for docker-compose!!
## Will be used to create the Docker network
## If there is a need to make it reachable from the outside,
## please make sure the IP range allows the PUBLIC IP of the machine
##
## If running in the Cloud, please run the script display-cloud-info.sh
## ↓↓↓↓-------------------------------------------------------------------------------

IDC_POOL_SUBNET=192.168.1.224/30


## ------------------------------------------------------------------------------------
## Port Start - Optional variable with default value set to 9700
## (is exclusive) initial port of the pool nodes
## should bind to, e.g. if it is 9700 then the pool nodes will bind to ports 9701-9708
## ↓↓↓↓-------------------------------------------------------------------------------

# IDC_PORT_START=9700


## ------------------------------------------------------------------------------------
## Pool Node Ports - Optional variable with default value set to 9701-9708
## If changed, please make sure PORT_START is changed accordingly
## ↓↓↓↓-------------------------------------------------------------------------------

# IDC_POOL_PORTS=9701-9708


## ------------------------------------------------------------------------------------
## Pool Name - Optional variable with default value set to sandbox
## ↓↓↓↓-------------------------------------------------------------------------------

# IDC_POOL_NAME=sandbox

## ------------------------------------------------------------------------------------
## Pool Static Info Port - Optional variable with default value set to 8001
## ↓↓↓↓-------------------------------------------------------------------------------

# IDC_POOL_INFO_PORT=8001